.NoteItem{
    padding: 1rem;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5rem;
    gap: 1rem;

    .containerNoteItem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        button{
            align-self: flex-start;
            height: fit-content;
            background-color: white;
            border: none;
            padding: .5rem;
            border-radius: 40%;
        }
    }

}